h2{
    font-family: monospace;
    color: cadetblue;
    font-size:3em;
    text-align: center;
}
h4{
    font-family: monospace;
    color:#ffff;
    font-size:3em;
    text-align: center;
    background-color: cadetblue;
}
header
{
    background-image:url(bacho2.jpg);
    width: 100%;
    height: 120px;
    padding: 5px;
    border: 2px solid white;
    box-sizing: border-box;
}
p{
    text-align: center;
    font-family: monospace;
    font-size:1em;
    font-style: italic;
}
.e1{
    margin:auto;
    display:block;
     border:solid;
    color: white;
    border-radius:16px;
}